*{
  box-sizing: border-box;
  -webkit-text-size-adjust:100%;
}

body{
  font-family: -webkit-pictograph;
  width: 100%;
    overflow-x: hidden;
    margin: 0px;

}
.container {
width: 100%;
padding: 0 15px;
margin: 0 auto;
max-width: 1170px;
}

header{
  width: 100%;
  height:65px;
  background-color:rgba(239, 239, 239, 0.28);
  position: fixed;
  color: white;
  z-index: 10;
}

.header-right{
  float: right;
}
.header-right a{
  text-decoration: none;
  margin:12px 12px;
  position: relative;
  color: white;
}
.nav-menu{
    margin: 23px;
    word-spacing: 35px;
    font-size: 21px;

}
.header-left{
  float: left;
}

header .logo{
  width:130px;
  margin-top:24px;
}

.top-wrapper{
  padding-top:180px;
    padding-bottom:100px;
    background-image: url(IMG_1933.jpeg);
    background-position: bottom;
    color:white;
    background-size:cover;
    position: relative;
    text-align: center;
}
.top-wrapper::before{
  content: ' ';
 background-color: rgba(0,0,0,0.4);
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
}
#top-heading{
  color: white;
  position: relative;

}
.top-wrapper h1{
  opacity:0.7;
  font-size:45px;
  letter-spacing:5px;
}
.top-wrapper p{
  font-size: 30px;
  opacity:0.7;
}
#text{
  border: solid 3px white;
  margin:10px 225px;
  /* JavaScript用のdisplay設定 */
  display: none;
}
.yoyaku{
  background-color:#239b76;
    margin-top:30px;
}
.insta{
  background-color:#FF008A;
  margin-right:10px;
}
.twitter{
  background-color:#55acee;
}
.btn{
  display:inline-block;
  padding:8px 24px;
  color:white;
  opacity:0.8;
  border-radius: 4px;
  text-decoration:none;

}

.work-wrapper{

 text-align:center;
}
.work-heading h2{
  font-size: 35px;
  color:gray;
}
.work-heading p{
  line-height: 50px;
  font-size: 20px;
  color:gray;

}
.work-icon a:hover{
  opacity: 0.7;
 filter: alpha(opacity=70);
 -ms-filter: "alpha(opacity=70)";
 transition: 0.7s;
}

.work-icon img{
  width: 70%;
  position:relative;
  padding-top: 20px;
}
.work-icon p{
  width:70%;
  font-size: 45px;
  position: absolute;

  color: white;
  opacity:0.9;
  position: absolute;
 top: 50%;
 left: 50%;
 -ms-transform: translate(-50%,-50%);
 -webkit-transform: translate(-50%,-50%);
 transform: translate(-50%,-50%);
 margin:0;
 padding:0;
}
.work-icon{
   position:relative;
}
.text-contents{
  width: 80%;
    font-size: 15px;
    margin: 0px 50px;
}

/* レスポンシブ設定 */
@media(max-width:1000px){
  *{
    box-sizing: border-box;
  }
  .header-right{
    display:none;
  }
  /* .top-wrapper{
    width:70%;
  } */
  .top-wrapper h1{
    font-size: 28px;
  }
  #text{
    margin:10px 60px;
  }
  .work-heading h2 {
      font-size: 24px;
  }
  .work-heading p {
    line-height: 15px;
    font-size: 10px;
  }
  .work-icon p{
    font-size: 23px;
    top: 60%;
  }
}
@media screen and (max-width: 375px){
  *{
    box-sizing: border-box;
  }
  .header-right{
    display:none;
  }
  /* .top-wrapper{
    width:70%;
  } */
  .top-wrapper h1{
    font-size: 28px;
  }
  #text{
    margin:10px 60px;
  }
  .work-heading h2 {
      font-size: 24px;
  }
  .work-heading p {
    line-height: 15px;
    font-size: 10px;
  }
  .work-icon p{
    font-size: 23px;
    top: 60%;
  }

}
